@{
    ViewData["Title"] = "ChangePassword";
}
<header class="page-header">
    <h2 class="page-title">Đổi mật khẩu</h2>
</header>

<div id="primary" class="content-area container" role="main">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <article id="post-51" class="post-51 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="woocommerce-customer-login">
                            <h2>Đổi Mật Khẩu</h2>
                            <form class="woocommerce-form woocommerce-form-login login" method="post" action="/Account/ChangePassword">
                                <!-- Mật khẩu hiện tại -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="current_password">Mật khẩu hiện tại&nbsp;<span class="required">*</span></label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="current_password" id="current_password" autocomplete="current-password" required />
                                </p>

                                <!-- Mật khẩu mới -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="new_password">Mật khẩu mới&nbsp;<span class="required">*</span></label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="new_password" id="new_password" autocomplete="new-password" required />
                                </p>

                                <!-- Xác nhận mật khẩu mới -->
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="confirm_new_password">Xác nhận mật khẩu mới&nbsp;<span class="required">*</span></label>
                                    <input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="confirm_new_password" id="confirm_new_password" autocomplete="new-password" required />
                                </p>

                                <!-- Nút đổi mật khẩu -->
                                <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="change_password" value="Change Password">Đổi mật khẩu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </article><!-- #post -->
        </div>
    </div>
</div><!-- #primary -->
