@{
    ViewData["Title"] = "ForgotPassword";
}
<header class="page-header">
    <h2 class="page-title">Quên mật khẩu</h2>
</header>


<div id="primary" class="content-area container" role="main">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <article id="post-51" class="post-51 page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                            <p>Bạn bị quên mật khẩu? Vui lòng nhập tên người dùng hoặc địa chỉ email của bạn. Bạn sẽ
                                nhận được link tạo mật khẩu mới qua email.</p>
                            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                <label for="user_login">Tên người dùng hoặc địa chỉ email</label>
                                <input class="woocommerce-Input woocommerce-Input--text input-text" type="text"
                                    name="user_login" id="user_login" autocomplete="username" />
                            </p>
                            <div class="clear"></div>
                            <p class="woocommerce-form-row form-row">
                                <input type="hidden" name="wc_reset_password" value="true" />
                                <button type="submit" class="woocommerce-Button button" value="Reset password">Làm mới
                                    mật khẩu</button>
                            </p>
                            <input type="hidden" id="woocommerce-lost-password-nonce"
                                name="woocommerce-lost-password-nonce" value="5ae4b87433" /><input type="hidden"
                                name="_wp_http_referer" value="/skin-2/myaccount/lost-password/" />
                        </form>
                    </div>
                </div>
            </article><!-- #post -->
        </div>
    </div>

</div><!-- #primary -->
