@{
    ViewData["Title"] = "SignUp";
}
<header class="page-header">
    <h2 class="page-title">Đăng ký tài khoản</h2>
</header>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div id="primary" class="content-area container" role="main">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <article class="page type-page status-publish hentry">
                <div class="entry-content">
                    <div class="registration-form woocommerce">
                        <h2>Đăng ký</h2>
                        <form method="post" class="register">
                            <p class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first">
                                <label for="reg_username">Username</label>
                                <input type="text" name="username" id="reg_username" />
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--last form-row form-row-last">
                                <label for="reg_password">Password</label>
                                <input type="password" name="password" id="reg_password" />
                            </p>
                            <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                <label for="reg_email">Email</label>
                                <input type="email" name="email" id="reg_email" />
                            </p>
                            <p class="woocommerce-FormRow">
                                <label for="reg_role">Bạn là<span class="required">*</span></label>
                                <select class="woocommerce-Input" name="reg_role" id="reg_role">
                                    <option value="candidate">Ứng viên</option>
                                    <option value="employer">Nhà tuyển dụng</option>
                                </select>
                            </p>
          
                            <button type="submit" class="woocommerce-button button woocommerce-form-login__submit"
                                    name="register" value="Đăng ký">
                                Đăng ký
                            </button>
                        </form>

                    </div>
                </div>
            </article><!-- #post -->
        </div>
    </div>
</div><!-- #primary -->
