<div id="main" class="site-main">

	<header class="page-header">
		<h1 class="page-title">Thiết kế</h1>
		<h2 class="page-subtitle"></h2>
	</header>

	<div id="primary" class="content-area">
		<div id="content" class="container" role="main">
			<div class="entry-content">

				<div class="job_listings">
					<ul class="job_listings">
						<li id="job_listing-210" class="job_listing job-type-full-time post-210 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-ontario job_listing_category-design job_listing_type-full-time" data-longitude="-79.3867514" data-latitude="43.64716019999999" data-title="Senior UX Designer at Deploy" data-href="../../job/senior-ux-designer/index.html">
							<a asp-action="DetailJob" asp-controller="JobClient" class="job_listing-clickbox"></a>


							<div class="job_listing-logo">
								<img class="company_logo" src="../../wp-content/uploads/sites/5/2022/01/listing-deploy-logo-150x150.jpg" alt="Senior UX Designer" />
							</div>
							<div class="job_listing-about">

								<div class="job_listing-position job_listing__column">
									<h3 class="job_listing-title">Senior UX Designer</h3>

									<div class="job_listing-company">
										<strong>Senior UX Designer</strong>
									</div>
								</div>

								<div class="job_listing-location job_listing__column">
									<a class="google_map_link" href="https://maps.google.com/maps?q=Canada%27s+Walk+of+Fame%2C+Simcoe+Street%2C+Toronto%2C+Ontario%2C+Canada&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false" target="_blank">Toronto, Ontario</a>
								</div>

								<ul class="job_listing-meta job_listing__column">

									<li class="job_listing-type job-type full-time">full-time</li>

									<li class="job_listing-date">Posted 3 years ago</li>

								</ul>
							</div>
						</li>
						<li id="job_listing-96" class="job_listing job-type-freelance post-96 type-job_listing status-publish hentry job_listing_region-santa-rosa job_listing_category-design job_listing_type-freelance" data-longitude="-122.7214284" data-latitude="38.4375427" data-title="UX Designer at Aol." data-href="../../job/ux-designer/index.html">
							<a asp-action="DetailJob" asp-controller="JobClient" class="job_listing-clickbox"></a>

							<div class="job_listing-logo">
								<img class="company_logo" src="../../wp-content/plugins/wp-job-manager/assets/images/company.png" alt="UX Designer" />
							</div>
							<div class="job_listing-about">

								<div class="job_listing-position job_listing__column">
									<h3 class="job_listing-title">UX Designer</h3>

									<div class="job_listing-company">
										<strong>UX Designer</strong>
									</div>
								</div>

								<div class="job_listing-location job_listing__column">
									<a class="google_map_link" href="https://maps.google.com/maps?q=California+Welcome+Center%2C+4th+Street%2C+Santa+Rosa%2C+CA&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false" target="_blank">Santa Rosa, California</a>
								</div>

								<ul class="job_listing-meta job_listing__column">

									<li class="job_listing-type job-type freelance">freelance</li>

									<li class="job_listing-date">Posted 3 years ago</li>

								</ul>
							</div>
						</li>
						<li id="job_listing-90" class="job_listing job-type-full-time post-90 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-ontario job_listing_category-design job_listing_type-full-time" data-longitude="-74.14583309999999" data-latitude="40.62333820000001" data-title="Front End Developer - Digital Arts at CodePen" data-href="../../job/frontend-developer/index.html">
							<a asp-action="DetailJob" asp-controller="JobClient" class="job_listing-clickbox"></a>

							<div class="job_listing-logo">
								<img class="company_logo" src="../../wp-content/uploads/sites/5/2021/09/listing-codepen-logo-300x300-1-150x150.jpg" alt="Front End Developer &#8211; Digital Arts" />
							</div>
							<div class="job_listing-about">

								<div class="job_listing-position job_listing__column">
									<h3 class="job_listing-title">Front End Developer &#8211; Digital Arts</h3>

									<div class="job_listing-company">
										<strong>Front End Developer &#8211; Digital Arts</strong>
									</div>
								</div>

								<div class="job_listing-location job_listing__column">
									<a class="google_map_link" href="https://maps.google.com/maps?q=Markham+Playground%2C+Willow+Road+East%2C+Staten+Island%2C+NY&amp;zoom=14&amp;size=512x512&amp;maptype=roadmap&amp;sensor=false" target="_blank">, New York</a>
								</div>

								<ul class="job_listing-meta job_listing__column">

									<li class="job_listing-type job-type full-time">full-time</li>

									<li class="job_listing-date">Posted 3 years ago</li>

								</ul>
							</div>
						</li>
					</ul>
				</div>


			</div>
		</div><!-- #content -->

	</div><!-- #primary -->


</div><!-- #main -->