/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative; 
  min-height: 100%; 
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.modal-backdrop-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nền tối mờ */
  z-index: 1000;
}
@media screen and (min-width: 1024px) {
  .search_jobs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .search_keywords {
      flex: 1;
      margin-right: 10px; /* Adds some space between the input field and the button */
  }

  .search_keywords input {
      width: 100%;
      padding: 10px;
  }

  .search_submit {
      flex-shrink: 0;
  }

  .search_submit input {
      padding: 10px 20px;
      background-color: #4a3aff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .search_submit input:hover {
      background-color: #362d9c;
  }
}
.logo-user{
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}